#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.column {
    width: 20px;
    height: 20px;
    border: black 1px solid;
}

.row {
    display: flex;
    gap: 1px;
}

.trail {
    background-color: black;
}