#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.column {
    width: 20px;
    height: 20px;
    background-color: antiquewhite;
}

.row {
    display: flex;
    gap: 2px;
}